.channels {
    position: relative;
    height: 400px;
    overflow-x: auto;
}

.chn {
    padding: 0 5px;
    /* background-color: yellow; */
}

.channels-1 {
    animation: channel-1 10s linear;
    animation-fill-mode: forwards;
}

.channels-2 {
    animation: channel-2 20s linear infinite;
    animation-delay: 100ms;
    transform: translate(0);
}

.channels-3{
    animation: channel-3 19.9s infinite linear;
    animation-delay: 10200ms;
}

@keyframes channel-1 {

    0% {
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes channel-2 {

    0% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-200%);
    }
}


@keyframes channel-3 {

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-300%);
    }
}